.about {
  // background-color: yellowgreen;
  background-color: $color-grey-light-1;

  grid-column: full-start / full-end;

  padding: 10rem 0;

  display: grid;
  grid-template-rows: repeat(5, min-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];

  grid-gap: 5rem;

  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;

  overflow-x: hidden;

  &__title {
    // background-color: blue;

    grid-row: 1 / 2;
    grid-column: center-start / center-end;
    text-align: center;
    margin-bottom: 5rem;
  }

  &__features {
    // background-color: red;

    grid-row: 2 / 3;
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5rem;

    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: start;

    text-align: center;

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: repeat(2, 1fr);
    }

    &--1,
    &--2,
    &--3,
    &--4 {
    }

    &--img {
      color: white;
      font-size: 7.5rem;
      background-color: $color-primary;
      background-size: 10rem;
      padding: 2rem;

      // clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
      clip-path: polygon(
        25% 10%,
        75% 10%,
        100% 50%,
        100% 50%,
        75% 90%,
        25% 90%,
        0 50%,
        0 50%
      );
    }
  }

  &__description {
    // background-color: green;

    grid-row: 3 / 4;
    grid-column: center-start / col-end 4;

    text-align: center;

    // padding: 0 12rem;
    max-width: 40rem;

    @media only screen and (max-width: $bp-medium) {
      grid-column: center-start / center-end;
      max-width: 60rem;
    }

    &--img {
      // background-color: aqua;
      width: 20rem;
      height: 20rem;

      // clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
      clip-path: polygon(
        25% 10%,
        75% 10%,
        100% 50%,
        100% 50%,
        75% 90%,
        25% 90%,
        0 50%,
        0 50%
      );
    }
  }

  &__skills {
    // background-color: yellow;
    overflow-x: hidden;

    grid-row: 3 / 4;
    grid-column: col-start 5 / center-end;

    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(6, minmax(min-content, 1fr));

    grid-gap: 1rem;

    text-align: center;

    width: 100%;

    @media only screen and (max-width: $bp-medium) {
      grid-row: 4 / 5;
      grid-column: center-start / center-end;
    }

    p {
      background-color: $color-primary;
      color: $color-white;
      font-weight: 400;
      border: 3px solid $color-primary-dark;
      transition: all 0.2s ease-in-out;

      // padding: 0 0.1rem;

      &:hover {
        background-color: $color-white;
        color: $color-primary;
      }
    }

    &--item-1 {
      grid-column: 1 / 3;
    }

    &--item-2 {
      grid-column: 3 / 5;
    }

    &--item-3 {
      grid-column: 5 / 7;
    }

    &--item-4 {
      grid-column: 1 / 3;
      grid-row: 2 / 3;
    }

    &--item-5 {
      grid-column: 3 / 5;
      grid-row: 2 / 3;
    }

    &--item-6 {
      grid-column: 5 / 7;
      grid-row: 2 / 3;
    }

    &--item-7 {
      grid-column: 1 / 4;
      grid-row: 3 / 4;
    }

    &--item-8 {
      grid-column: 4 / 7;
      grid-row: 3 / 4;
    }

    &--item-9 {
      grid-row: 4 / 5;
      grid-column: 1 / 3;
    }

    &--item-10 {
      grid-row: 4 / 5;
      grid-column: 3 / 5;
    }

    &--item-11 {
      grid-row: 4 / 5;
      grid-column: 5 / 7;
    }

    &--item-12 {
      grid-row: 5 / 6;
      grid-column: 1 / 3;
    }

    &--item-13 {
      grid-row: 5 / 6;
      grid-column: 3 / 4;
    }

    &--item-14 {
      grid-row: 5 / 6;
      grid-column: 4 / 5;
    }

    &--item-15 {
      grid-row: 5 / 6;
      grid-column: 5 / 7;
    }

    &--item-16 {
      grid-row: 6 / 7;
      grid-column: 1 / 4;
    }

    &--item-17 {
      grid-row: 6 / 7;
      grid-column: 4 / 7;
    }

    &--item-18 {
      grid-row: 7 / 8;
      grid-column: 1 / 3;
    }

    &--item-19 {
      grid-row: 7 / 8;
      grid-column: 3 / 5;
    }

    &--item-20 {
      grid-row: 7 / 8;
      grid-column: 5 / 7;
    }

    &--item-21 {
      grid-row: 8 / 9;
      grid-column: 1 / 3;
    }

    &--item-22 {
      grid-row: 8 / 9;
      grid-column: 3 / 4;
    }

    &--item-23 {
      grid-row: 8 / 9;
      grid-column: 4 / 5;
    }

    &--item-24 {
      grid-row: 8 / 9;
      grid-column: 5 / 7;
    }
  }
}
