// COLOR VARIABLES
$color-primary: #04C2C9;
$color-primary-dark: #00A1A7;

$color-secondary: #E31B6D;
$color-secondary-dark: #BA265D;
$color-secondary-darker: #a32453;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;
$color-grey-dark-4: #252934;
$color-grey-dark-5: #1B242F;

$color-white: #fff;
$color-black: #000;

// FONT VARIABLES
$font-primary: 'Raleway', sans-serif;
$font-display: 'Raleway', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 81.25em; // 1300px
$bp-large: 62.5em; // 1000px
$bp-medium: 53.12em; // 850px
$bp-small: 43.75em; // 700px
$bp-smallest: 31.25em; // 500px


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px / 16px = 62.5% => 1rem = 10px

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}

body {
    font-family: $font-primary;
    color: $color-black;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-rows: 100vh repeat(5, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end] ) [center-end] minmax(6rem, 1fr) [full-end];

    & > * {
        // padding: 40px;
        font-size: 1.75rem;
    }

    
}